*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: inherit;
    font-size: inherit;
    font-weight: inherit;
    line-height: inherit;
    letter-spacing: inherit;
}
ul,
li {
    list-style: none;
}
hr,
fieldset,
input,
button {
    border: none;
}
option,
select,
input,
button,
textarea {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    background: transparent;
    text-decoration: transparent;
    outline: none;
    &::placeholder {
        color: inherit;
    }
}
option,
select,
button {
    cursor: pointer;
}
a {
    color: inherit;
    cursor: pointer;
    font-size: inherit;
    text-decoration-color: transparent;
}
picture {
    line-height: 0;
}
img {
    max-width: 100%;
}
html,
body {
    height: 100%;
    width: 100%;
}
html {
    min-width: var(--min-width);
    overflow-x: hidden;
}
body {
    scroll-behavior: smooth;
    &.lock {
        overflow: hidden;
    }
}
