:root {
    --padding: 0.9375rem;
    --wrap: 71.875rem;
    --min-width: 20rem;
    // font-family
    --font-family_Montserrat: "Montserrat", sans-serif;
    --font-family_Lato: "Lato", sans-serif;
}

[data-theme="light"] {
    // colors
    --color-black: #000000;
    --color-white: #ffffff;
}
[data-theme="dark"] {
    // colors
    --color-black: #000000;
    --color-white: #ffffff;
}
